<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파슬리</title>
    <link href="../css/main.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="../imgs/fire.png">
</head>
<body>
    <div class = "create_plan_container">
        <form id="create_plan_form">
            <div class="signup_title">계획 만들기</div>
            <div class="signup_input_container">
                <div class="signup_input_title">계획 이름</div>
                <input type="text" class="signup" placeholder="아이디">
            </div>
            <div class="signup_input_container">
                <div class="signup_input_title">목표 금액</div>
                <input type="password" class="signup" placeholder="비밀번호">
            </div>
            <div class="signup_input_container">
                <div class="signup_input_title">사진</div>
                <input type="file" name="image" value = "{{post.image}}">
            </div>
            <button id="confirmBtn" disabled>완료</button>
        </form>
    </div>
</body>
</html>