<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파슬리</title>
    <link href="../css/signup.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="../imgs/fire.png">
</head>
<body>
    <div class = "signup_container">
        <form id="signup_form">
            <div class="signup_title">회원가입</div>
            <div class="signup_input_container">
                <div class="signup_input_title">아이디</div>
                <input type="text" class="signup" placeholder="아이디">
            </div>
            <div class="signup_input_container">
                <div class="signup_input_title">비밀번호</div>
                <input type="password" class="signup" placeholder="비밀번호">
            </div>
            <div class="signup_input_container">
                <div class="signup_input_title">비밀번호 확인</div>
                <input type="password" class="signup" placeholder="비밀번호 확인">
            </div>
            <div class="signup_input_container">
                <div class="signup_input_title">닉네임</div>
                <input type="text" class="signup" placeholder="닉네임">
            </div>
            <div class="signup_input_container">
                <div class="signup_input_title">나이</div>
                <input type="text" class="signup" placeholder="나이">
            </div>
            <div class="signup_input_container">
                <div class="signup_input_title">관심사</div>
                <button id="hobbyBtn">레저</button>
                <button id="hobbyBtn">미술</button>
                <button id="hobbyBtn">음악</button>
                <button id="hobbyBtn">공예</button>
                <button id="hobbyBtn">스포츠</button>
                <button id="hobbyBtn">재테크</button>
                <button id="hobbyBtn">여행</button>
                <button id="hobbyBtn">사업</button>
            </div>
            <button id="confirmBtn" disabled>완료</button>
        </form>
    </div>
</body>
</html>