h1 {
    margin: 30px 5px;
}

h3 {
    font-size: 30px;
}

/* main */
#make_challenge {
    background-color: #4ccd97;
    color: white;
    margin: 30px;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 20px;
}

.content {
    margin: 0 auto;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    padding-left: 30px;
    border: 1px solid #4ccd97;
    border-radius: 10px;
}

.record {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(54, 54, 54);
    padding: 10px;
    margin: 0px 15px;
}

#delete {
    margin-right: 10px;
}
/* detail */

#challenge_clear_btn {
    background-color: #4ccd97;
    color: white;
    border-radius: 30px;
    padding: 20px 40px;
    border: none;
    font-size: 20px;
}
.a {
    display: flex;
    margin: 0 auto;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.total_score {
    margin-top: 5%;
    font-size: 30px;
    font-weight: bold;
    color: #4ccd97;
}

.progress_bar {
    margin-top: 5%;
    width: 600px;
    height: 50px;
    background-color: rgb(190, 190, 190);
    border-radius: 8px;
}

.progress_value {
    height: 50px;
    background-color: #4ccd97;
    border-radius: 8px;
}

/* write */

.challenge_input_container {
    margin-left: 40%;
    text-align: left;
    width: 50%;
    margin-bottom: 20px;
}

.challenge_input_title {
    font-size: 18px;
    margin-bottom: 10px;
}

.create_challenge {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 40%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

#confirmBtn {
    border: none;
    background-color: #4ccd97;
    color: white;
    border-radius: 8px;
    padding: 10px 25px;
}

form {
    margin-top: 50px;
}
