body {
    margin: 0;
    background-color: white;
    height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    margin-right: 70px;
  }
  
  /* Register Container */
  
  .create_plan_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
    width: 600px;
    background-color: white;
    text-align: center;
  }
  
  .create_plan_title {
    font-weight: 100;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  .create_plan_input_container {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .create_plan_input_title {
    text-align: left;
    margin-left: 20px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .create_plan {
    width: 250px;
    height: 20px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  
  #confirmBtn {
    margin-top: 10px;
    width: 250px;
    color: white;
    background-color: #4ccd97;
    padding: 6px;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    font-weight: bold;
  }