{% extends 'base.html' %} {% block content %} {% load static %}{% load humanize %}
<head>
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/challenge.css' %}"
    />
</head>

<body>
    <br /><br /><br /><br />
    <h1>Challenge</h1>
    <div>
        <a href="{% url 'challenge:write' %}" id="make_challenge">new challenge</a>
        <br />
        <br>
        {% for d in data %}

        <div class="content">
            ✔{{d.title}}
            <br>+{{d.cost|intcomma}}원<br />
            
            <a id="delete" href="{%url 'challenge:delete' d.id %}" style="text-align: center;">❌</a>
            <div class="record">
                <a href="{%url 'challenge:detail' d.id %}">기록하기</a>
            </div>
        </div>

        {% endfor %}
    </div>
</body>
{% endblock %}
